@charset "UTF-8";

body {
  font-family: "Avenir Next";
}

header {
  background-color: #26d0c9;
  color: #fff;
  height: 100%;
}

main {
  /* background-color: #f8f8ff; */
  height: 100%;
  padding: 1%;
  /* margin: 1%; */
}

footer {
  background-color: #3ed91e;
  height: 100%;
}

.logo{
  font-size: 450%;
  text-align: center
}

.text{
  text-align: center;
  font-size: 100%;
}
.img{
  text-align: center;
}


.button{
  text-align: center;
}

.goo_layout{
  margin-right: 15%;
}

.par_layout{
  margin-left: 15%;
}

.reset_layout{
  text-align: center;
  margin-right: 5%;
}


.hand{
  width: 20%;
  display:inline-block;
  margin: auto;
  margin-right: auto;
}

.hidden{
  display:none;
}

